{% extends 'home/base.html'%}
{% load static%}
{% block content%}
    <!-- HEADER SECTION -->
        <div class="bg-col" style="background: url({% static 'images/banner.jpg'%})">
            <div class="container-fluid" >
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                            <div class="element-title">
                                <h1 style="font-size: 40px; color: #ffffff; text-transform: uppercase; line-height: 50px; margin-bottom: 25px; text-align:center;">
                                    We are in the business of buy-and-sell-online</h1>
                                <p style="font-size: 18px; letter-spacing: 1px; color: #ffffff; text-align:center;">
                                    Ridiculus sociosqu
                                    cursus neque cursus curae ante scelerisque vehicula.</p>
                            </div>
                        </div>
                        <nav class="navbar navbar-expand-lg">
                            <div class="container-fluid">

                                <div class="col-md">
                                    <input class="form-control"type="text" placeholder="Service/Good's Name">
                                </div>  

                                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                    <li class="nav-item dropdown">
                                        <a class="nav-link " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            <div class="input-group" role="search">
                                                <input class="town-input form-control" type="text" name="" placeholder="Enter your delivary town" aria-label=""  aria-controls="search-icon">
                                                <span class="input-group-text" type="submit" id="search-icon"><i class="fas fa-sync-alt"></i></span> 
                                            </div>
                                        </a>
                                        <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">Action</a></li>
                                        <li><a class="dropdown-item" href="#">Another action</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                
                                <form class="d-flex" role="search">
                                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                                    <button class="btn btn-outline-success" type="submit">Search</button>
                                </form>
                                
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    <!-- HEAD SECTION END -->

    <!-- BODY SECTION START  -->
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <h2>Top Services</h2>
                    <p>Explore restaurants, bars, and cafés by locality</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <img src="{% static 'images/jet.png'%}" class="img-fluid" alt="img1">    
                </div>
                <div class="col">
                    <img src="..." class="img-fluid" alt="img1">    
                </div>
                <div class="col">
                    <img src="..." class="img-fluid" alt="img1">    
                </div>
                <div class="col">
                    <img src="..." class="img-fluid" alt="img1">    
                </div>
                <div class="col">
                    <img src="..." class="img-fluid" alt="img1">    
                </div>
                <div class="col">
                    <img src="..." class="img-fluid" alt="img1">    
                </div>
                <div class="col">
                    <img src="..." class="img-fluid" alt="img1">    
                </div>
                <div class="col">
                    <img src="..." class="img-fluid" alt="img1">    
                </div>
                <div class="col">
                    <img src="..." class="img-fluid" alt="img1">    
                </div>
                <div class="col">
                    <img src="..." class="img-fluid" alt="img1">    
                </div>
                <div class="col">
                    <img src="..." class="img-fluid" alt="img1">    
                </div>
                <div class="col">
                    <img src="..." class="img-fluid" alt="img1">    
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="element-title align-center">
                        <h2>Choose From Most Popular</h2>
                        <p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p>
                    </div>
                </div>
                    <ul class="row">
                        <div class="col">
                            <table>
                                <td>
                                    <div>
                                        <img src="" class="img-thumbnail" width="70px" alt="...">
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <div><label for="">reviews</label></div>
                                        <div><label for="">restaurant demo</label>  </div> 
                                        <div>type of food: apple juice</div> 
                                    </di>
                                </td> 
                            </table>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    <!-- BODY SECTION END  -->
{% endblock%}