{% load static%}
<div class="page-section restaurant-detail-image-section" style=" background: url({% if vendor.user_profile.cover_photo%} {{ vendor.user_profile.cover_photo.url}} {% else%} {% static 'images/banner.jpg'%} {% endif%}) no-repeat scroll 0 0 / cover;">
    <!-- Container Start -->
    <div class="container">
        <div class="row mb-2">
            <div class="col-sm-3 mb-2">
                {% if vendor.user_profile.profile_picture%}
                <img src="{{ vendor.user_profile.profile_picture.url}}" alt="" width="30px">
                {% else%}
                <img src="{% static 'images/log.ico'%}" alt="" width="30px" >
                {% endif%}
            </div>
            <div class="col-sm-9 restaurant-title mt-2" style="color: rgb(4, 212, 4);">
                {{ vendor.vendor_name}} | {{ vendor.user_profile.address}}
            </div>
        </div>      
    </div>
    <!-- Container End -->
</div>