 {% load static%}
 <!-- FOOTER SECTION START -->
    <div class="bg-color mt-2">
        <div class="container-fluid text-center">
            <h5>Subscribe to our Newsletter</h5>
            <div class="row text-center">
                <form action="#">
                    <div class="field-holder">
                        <label>
                            <i class=" icon-envelope3"></i>
                            <input type="text" class="field-input form-control" placeholder=" Enter Your Email Address...">
                        </label>
                    <button class="btn btn-outline-success">Sign Up</button>
                </div>                              
                </form>
            </div>
            <div class="row text-center">
                    <div class="copyright-inner">
                        <div class="copy-right">
                            <p>© 2023 buyandsellonline. All Rights Reserved. Powered By <a href="#">Muthui Kyalo</a>.
                            </p>
                        </div>
                    </div>
            </div>
        </div>
    </div>
<!-- FOOTER SECTION END  -->

