{% load static%}
<!-- NAVBAR -->
    <div class="bg-color">
        <div class="header-section container-fluid">
            <nav class="navbar navbar-expand-lg">
                <a href="{% url 'home'%}"><img src="{% static 'images/log.ico'%}" alt="" width="22px"></a> 
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent"> 
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <form action="">
                                    <div class="input-group" role="search">
                                        <input class="town-input form-control" type="text" name="" placeholder="Enter your delivary town" aria-label=""  aria-controls="search-icon">
                                        <span class="input-group-text" type="submit" id="search-icon"><i class="fas fa-sync-alt"></i></span> 
                                    </div>
                                </form>
                            </a>
                            <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            </ul>
                        </li>
                    </ul>
                    <a class="nav-link me-4" href="">My Account</a>
                    <a class="nav-link  text-danger" href=""></a>
                
                    <a class="nav-link me-3" href="">LOGIN</a>
                    <a class="nav-link me-3" href="{% url 'registerUser'%}">REGISTER</a>
                    <a href=""><button type="button" class="btn btn-danger">REGISTER VENDOR</button></a>
                </div>
            </nav>
        </div>
    </div>
<!-- NAVBAR END  -->

   